@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	background-color: #E6F0FF;
}
.wrapper {
	width:980px;
	margin: 0 auto;
}
